<section class="row intro-wrapper middle-xs">
  <div class="col-12 col-xs-12 col-md-6 text-center mt-2">
    <div class="title-wrapper">

      <div class="mustache-wrapper">
        <div class="campus d-flex justify-content-center align-items-center">
          <div class="mustache"></div>
        </div>
      </div>
      <h1 class="title">Gentleman Programming</h1>
      <div class="mustache-wrapper">
        <div class="campus d-flex justify-content-center align-items-center">
          <div class="mustache"></div>
        </div>
      </div>

    </div>
    <div class="subtitle-wrapper">
      <h2>
        Mucho más que una comunidad
      </h2>
    </div>
    <div class="description-wrapper">
      <p>
        Buenas a todos y bienvenidos a Gentleman Programming!!
      </p>
      <p>
        la comunidad donde compartimos información de forma gratuita y nos formamos los unos a los otros.
      </p>
    </div>
    <div class="cta-wrapper">
      <a mat-raised-button color="primary" target="_blank" href="https://discord.gg/z6XmNPsHQp">Unirme a la comunidad</a>
    </div>
  </div>
  <div class="col-12 col-xs-12 col-md-6 mt-2">
    <app-main-illustration></app-main-illustration>
  </div>
</section>
