<mat-toolbar class="toolbar-wrapper">
  <mat-toolbar-row class="container">
    <span>
      <img
        class="logo-img"
        src="assets/images/logo.png"
        alt="Gentleman programming logo"
      />
    </span>
    <span class="spacer"></span>
    <div class="toolbar-links">
      <div class="toolbar-link-wrapper">
        <a mat-button aria-label="Youtube" target="_blank" href="https://www.youtube.com/channel/UCbx_d228PdYwgB4Jz202SIQ">
          <i class="fab fa-youtube menu-icon"></i> <span class="nav-link-label ml-1">Toutube</span>
        </a>
      </div>
      <div class="toolbar-link-wrapper">
        <a mat-button aria-label="Discord" target="_blank" href="https://discord.gg/z6XmNPsHQp">
          <i class="fab fa-discord menu-icon"></i> <span class="nav-link-label ml-1">Discord</span>
        </a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
