<mat-toolbar class="toolbar-wrapper">
  <mat-toolbar-row class="container">
    <span>
      <img
        class="logo-img"
        src="assets/images/logo.png"
        alt="Gentleman programming logo"
      />
    </span>
    <span class="spacer"></span>
    <div class="toolbar-links">
      <div class="toolbar-link-wrapper">
        <a mat-icon-button aria-label="Youtube">
          <i class="fab fa-youtube menu-icon"></i>
        </a>
      </div>
      <div class="toolbar-link-wrapper">
        <a mat-icon-button aria-label="Discord">
          <i class="fab fa-discord menu-icon"></i>
        </a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
