<div class="row mt-5 youtube-channel-wrapper">
    <div class="col-xs-12 mb-2">
        <h4 class="cta-title">Suscribete al canal de youtube</h4>
        <div class="cta-wrapper">  
            <a mat-button color='accent' aria-label="Youtube" target="_blank" href="https://www.youtube.com/channel/UCbx_d228PdYwgB4Jz202SIQ">
                <i class="fab fa-youtube cta-icon"></i> <span class="ml-1">Suscribirse</span>
            </a>
        </div>
    </div>
    <div class="col-xs-12">
        <img class="youtube-channel-img" src="assets/images/wallpaper.png" alt="Canal de youtube">
    </div>
</div>