<section class="container">
  <div class="row">
    <div class="col-xs-12 section-title-wrapper">
      <h3>Comunidad de discord</h3>
    </div>
    <div class="col-xs-12 text-center">
      ¡No tengas miedo de preguntar y sé la esponja de conocimiento que tienes que ser!
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-xs-12 text-center">
      <img class="welcome-image pink-neon-border" src="assets/images/welcome.png" alt="Bienvenida a discord">
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-xs-12 text-center">
      <h4 class="channels-title">¡Canales especializados para la búsqueda de tu conocimiento, espacios de mentoría y mucho más!</h4>
    </div>
    <div class="col-xs-12">
      <div class="row mt-2 middle-xs">
        <div class="col-xs-12 col-md-4 text-center">
          <img class="pink-neon-border discord-channels-img" src="assets/images/channels.png" alt="Lista de canales del servidor de discord">
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="col-xs-12 mt-4">
            <h5 class="discord-feature-title">
              Canales
            </h5>
            <p>
              Desde el compartir de la información hasta sectores de preguntas específicos para tus dudas !
            </p>
          </div>
          <div class="col-xs-12 mt-4">
              <h5 class="discord-feature-title">
                Eventos !
              </h5>
              <p>
                Se originan diferentes eventos para el aprendizaje contínuo, liderados por nuestros mentores.
              </p>
          </div>
          <div class="col-xs-12 mt-4">
            <h5 class="discord-feature-title">
              Roles
            </h5>
            <p>
              Al entrar te pediremos que selecciones diferentes roles de acuerdo a tus gustos, de esta manera los canales se adaptan a tus intereses.
              <br>
              Luego podrás seleccionar tu seniority y hasta si quieres ser un mentor !
            </p>
          </div>
          <div class="col-xs-12 mt-4">
            <h5 class="discord-feature-title">
              Mentores
            </h5>
            <p>
              El grupo VIP de la comunidad....los mentores.
              <br>
              Un mentor es una persona a la cual nuestros Gentleman Programmers puedan ir a preguntar en caso de duda específica ( recomendamos primero preguntar en los canales pertinentes para cada lenguaje ) y serán parte del staff para eventos futuros y pueden aportar ideas en los mismos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
